/* Reset some default styles for better consistency */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Global styles */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes at least the full viewport height */
  background-color: #ffdddd;
  justify-content: center;
}

/* Navigation bar styles */
nav {
  background-color: #555;
  width: 60px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 20px;
  margin-top: auto;
}

.nav-list li {
  margin-bottom: 20px;
}

.nav-list a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #777;
}

/* Main content styles */
main {
  flex: 1; /* Let the main content take all the available vertical space */
  margin-left: 110px;
  padding: 20px;
  /* Add some space between the main content and footer */
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap; /* Allow course categories to wrap into multiple columns */
  justify-content: space-between;
}

/* Footer styles */
footer {
  background-color: #555;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  bottom: 0;
}

/* Course category styles */

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Display 2 columns */
  gap: 20px; /* Gap between items */
  margin-bottom: 30px;
}

#course-categories {
  flex: 2;
  display:flex ;
  justify-content: space-between;
}

#course-categories .category {
  flex-basis: calc(50% - 20px); /* Each category takes equal space in a column */
  margin-bottom: 30px;
  align-items: center;
  width: 450px;
  justify-content: center;
}


#course-categories h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

/* Course card styles */
.course-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 600px;

}

.course-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.content {
  justify-content:center;
  margin: 20px;
}

.content h4 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.content p {
  font-size: 14px;
  margin-bottom:10px;
}

.content ul {
  font-size: 14px;
  margin-bottom: 10px;
}

.content li {
  text-align: center;
}

.btn {
  background-color: #ffdddd;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: auto;
}

.btn a {
  text-decoration: none;
  color: #333;
}
.btn :hover {
  background-color: #777;
}

@media (max-width: 768px) {
  .category-grid {
	grid-template-columns: 1fr; /* Display 1 column on smaller screens */
  }
i}
