/* Global styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header styles */
#header img {
  width: 100%;
  height: auto;
}

header {
  text-align: center;
  padding: 2rem;
  animation: fadeInDown 1s ease;
  font-family: 'Helvetica', Arial, sans-serif;
  width: 100%;
}

header h1 {
  font-size: 3rem;
  color: black;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  color: black;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Navigation styles */
nav {
  background-color: light;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav li a {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

nav li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* Main content styles */
main {
  padding: 2rem;
  flex: 1;
  background-color: rgb(122, 167, 100);
  animation: slideInUp 2s ease;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer styles */
footer {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  animation: bounce 2s infinite;
  border-radius: 10px;
  width: 100%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Home page specific styles */
h1 {
  margin: 0;
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(122, 167, 100);
  }
  50% {
    color: lightgray;
  }
  100% {
    color: rgb(122, 167, 100);
  }
}

/* Course grid layout */
.course-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

#course-categoties .category .course-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

/* Course card styles */
.course-card {
  background-color: #f9f9f9;
  background-image: url("path-to-background-image.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.course-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.course-card button {
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: rgb(122, 167, 100);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.course-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.course-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.course-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.course-card button:hover {
  background-color: #555;
}
