/* static/css/signup.css */

:root {
  --grey-color: #555;
  --light-grey-color: #777;
  --dark-grey-color: #333;
  --link-hover-color: #0056b3;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
    background-image: radial-gradient(circle, #ffdddd, #6b5f5f); /* gradient background */
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the content fills at least the viewport height */
}

header {
   display: flex;
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   text-align: left;
   opacity: 0.8;
  }

  header h1 {
    font-size: 35px;
   margin: 0;
   flex:1;
 }

  nav {
    display:flex;
   background-color: #333;
    text-align: center;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

nav li {
   flex: 1;
  }

nav a {
  color: #fff;
  display:block;
  padding: 5px;
  text-decoration: none;
  flex: 1;
  }

nav a:hover {
  background-color: var(--light-grey-color);
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.container p {
  font-size: 16px;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="radio"] {
  margin-right: 5px;
}

form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--grey-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #777;
}

form p {
  font-size: 14px;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-top: auto;
  opacity: 0.8;
}


