<!DOCTYPE html>
<html>
<head>
    <title>{{ course_details[0] }}</title>
</head>
<body>
    <!-- Add the following debug output -->
    <h1>Debug Output</h1>
    <pre>{{ course_details }}</pre>

    <!-- Rest of your template content -->
    <h1>{{ course_details[0] }}</h1>
    <img src="{{ course_details[1] }}" alt="{{ course_details[0] }} Image">
    <p>{{ course_details[2] }}</p>
    <p>Duration: {{ course_details[3] }}</p>
    <p>Prerequisites: {{ course_details[4] }}</p>

    <ul>
        <li><a href="{{ url_for('individual_lesson', course_id=course_id, lesson_number=1) }}">Lesson 1: {{ course_details[5] }}</a></li>
        <li><a href="{{ url_for('individual_lesson', course_id=course_id, lesson_number=2) }}">Lesson 2: {{ course_details[9] }}</a></li>
        <li><a href="{{ url_for('individual_lesson', course_id=course_id, lesson_number=3) }}">Lesson 3: {{ course_details[13] }}</a></li>
    </ul>
</body>
</html>

