<!-- templates/course_details.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>{{ course.title }}</h2>
    <p>{{ course.description }}</p>
    <h3>Lessons:</h3>
    <ul>
        {% for lesson in course.lessons %}
            <li>
                {% if current_user.is_authenticated %}
                    {% if lesson in current_user.completed_lessons %}
                        <span style="color: green;">✔</span> 
                    {% else %}
                        <span style="color: red;">✖</span> 
                    {% endif %}
                {% endif %}
                {{ lesson.title }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

