<!-- index.html -->

{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h2>Welcome, {{ current_user.email }}!</h2>
        <p>Thank you for being part of DigiGirls Technnovation. You can now explore our courses and start learning.</p>
    {% else %}
        <h2>Begin your journey to become an expert programmer</h2>
        <p>Sign up for free</p>
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
    {% endif %}
{% endblock %}

