<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/enroll.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <nav>
        <ul class="nav-list">
          <li><a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i></a></li>
          <li><a href="{{ url_for('courses') }}"><i class="fas fa-book"></i></a></li>
          <li><a href="{{ url_for('mentorship')}}" title="Mentorship Program"><i class="fas fa-handshake-angle"></i></a></li>
  <li><a href="{{ url_for('awareness')}}" title="Outreach and Awareness"><i class="fas fa-hand-holding-heart"></i></a></li>
          <li><a href="{{ url_for('hackathon')}}" title="Hackathon Competitions"><i class="fas fa-code"></i></a></li>
          <li><a href="{{ url_for('progress') }}" title="Progress"><i class="fas fa-chart-line"></i></a></li>
          <li><a href="{{ url_for('profile') }}" title="Profile"><i class="fas fa-user"></i></a></li>
          <li><a href="{{ url_for('index') }}" onclick="logout()" title="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
        </nav>

    <main>
        <section>
            <!-- Add your enroll page content here -->
            <h2>Enroll in Course</h2>
            <p>Are you sure you want to enroll in this course?</p>
            <!-- Access course title using course_info dictionary -->
            <h3>{{ course_info.course_name }}</h3>
            <!-- Add more course details using the course_info dictionary -->
            <p>{{ course_info.course_description }}</p>
            <p>Course Duration: {{ course_info.course_duration }}</p>
            <p>Prerequisites: {{ course_info.prerequisites }}</p>
            <form method="post" action="{{ url_for('course_details', course_id=course_id) }}">

			<button type="submit" class="btn">Proceed to Course Details</button>
	    </form><br>

	    <h2> OR </h2>

	    <form action="{{ url_for('courses')}}">

                        <button type="submit" class="btn">Go back to Courses Page</button>
            </form>

        </section>
    </main>

    <footer>
        <!-- Add your footer content here -->
        <p>&copy; 2023 DigiGirls Technnovation</p>
    </footer>
</body>

</html>

