<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiGirls Technnovation</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <h1>DigiGirls Technnovation</h1>
        <p>Learn coding from scratch</p>
    </header>

    <nav>
        <ul>
            <li><a href="../templates/index.html">Home</a></li>
            <li><a href="../templates/courses.html">Courses</a></li>
            <li><a href="../templates/about.html">About Us</a></li>
            <li><a href="../templates/contact.html">Contact Us</a></li>
            <li><a href="../templates/login.html">Login</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Begin your journey to become an expert programmer</h2>
            <p>Sign up for free</p>
            <p>Already have an account? <a href="login.html">Login</a></p>
            <p>Don't have an account? <a href="register.html">Sign Up</a></p> <!-- Added link to Sign Up page -->
        </section>
    </main>

    <footer>
        <p>&copy; 2023 DigiGirls Technnovation</p>
    </footer>
</body>

</html>

