<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/lesson.css') }}">
</head>


<body>
    <nav>
        <ul class="nav-list">
            <li><a href="{{ url_for('dashboard') }}" title="Dashboard"><i class="fas fa-home"></i></a></li>
            <li><a href="{{ url_for('courses') }}" title="Courses"><i class="fas fa-book"></i></a></li>
            <li><a href="{{ url_for('progress') }}" title="Progress"><i class="fas fa-chart-line"></i></a></li>
            <li><a href="{{ url_for('profile') }}" title="Profile"><i class="fas fa-user"></i></a></li>
            <li>
                <a href="#" onclick="logout()">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Lesson 1: <a href="{{ url_for('individual_lesson', course_id=lesson_details.id, lesson_number=1) }}">{{ lesson_details.lesson_1_title }}</a></h2>
            <p>{{ lesson_details.lesson_1_content }}</p>
            <p>Duration: {{ lesson_details.lesson_1_duration }}</p>
            <p>Instructor: {{ lesson_details.lesson_1_instructor }}</p>
        </section>
        <hr>

        <section>
            <h2>Lesson 2: <a href="{{ url_for('individual_lesson', course_id=lesson_details.id, lesson_number=2) }}">{{ lesson_details.lesson_2_title }}</a></h2>
            <p>{{ lesson_details.lesson_2_content }}</p>
            <p>Duration: {{ lesson_details.lesson_2_duration }}</p>
            <p>Instructor: {{ lesson_details.lesson_2_instructor }}</p>
        </section>
        <hr>

        <section>
            <h2>Lesson 3: <a href="{{ url_for('individual_lesson', course_id=lesson_details.id, lesson_number=3) }}">{{ lesson_details.lesson_3_title }}</a></h2>
            <p>{{ lesson_details.lesson_3_content }}</p>
            <p>Duration: {{ lesson_details.lesson_3_duration }}</p>
            <p>Instructor: {{ lesson_details.lesson_3_instructor }}</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 DigiGirls Technnovation</p>
    </footer>
</body>

</html>

